<h1>Σχετικά </h1>
<p>
	Η παρούσα εφαρμογή έχει δημιουργηθεί με
	<a href="http://rubyonrails.org/">Ruby on Rails </a>
	και έχει σκοπό να συνδέσει το σύστημα διαχείρισης μαθημάτων
	<a href="http://moodle.eap.gr/">Moodle</a> με την ιστοσελίδα κοινωνικής
	δικτύωσης <a href="http://facebook.com/">Facebook</a>
</p>
