<% if signed_in? %>
	<table class="front" summary="For signed-in users">
		<tr>
			<td class="main">
				<h1 class="micropost">Επικοινωνία!</h1>
				<%= render 'shared/micropost_form' %>
				<%= render 'shared/feed' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
			</td>
		</tr>
	</table>
	<% else %>
	<h1>Αρχική Σελίδα</h1>
	<p>
		Καλώς ήλθατε στην αρχική σελίδα της εφαρμογής.
	</p>
	<p>Συνδεθείτε στην
		<a href="http://online.eap.gr/">Εκπαιδευτική πύλη </a>
		του ΕΑΠ ή συνδεθείτε στην εφαρμογή.
	</p>

<%= link_to "Σύνδεση!", signup_path, :class => "signup_button round" %>
<% end %>
