<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "Σχετικά", about_path %></li>
			<li><%= link_to "Θεματικές", contact_path %></li>
			<li><a href="http://news.railstutorial.org/">Νέα Rails</a></li>
			<li><a href="http://www.railstutorial.org/">Οδηγός Rails</a></li>
		</ul>
	</nav>
</footer>
